body {
    margin: 8px 8px 8px 8px;
}
body {
    display: block;
    padding: 8px 8px 8px 8px;
  }
  #mainHeading {
      color: red
  }
  .funParagraph {
      color: green
  }
body {
    background-color: yellow;
}